/* ============= TELA 01 - AUTENTICAÇÃO ================ */
.container-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: var(--central-senha);
    width: 500px;
    height: 500px;
    border: solid 2px var(--forum-color);
    border-radius: 5px;
}

.container-main h1 {
    align-items: center;
    padding: 20px;
    justify-content: flex-start;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.submit {
    border: none;
    padding: 10px;
    color: var(--text-color);
    background-color: var(--color-buton);
    border-radius: 5px;
    padding: 25px 30px;
    cursor: pointer;
    transition: 0.3s all;
}

.submit:hover {
    color: var(--text-p-h2);
}

.container-elementos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.CPF {
    padding: 5px;
    border: solid 3px var(--color-buton);
    border-radius: 5px;
    outline: none;
}

.txt-informacao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.txt {
    background-color: var(--forum-color);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 5px solid var(--color-buton);
}

.txt p {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 15px;
    text-align: justify;
    border-radius: 15px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}



.submit:hover{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
}
